@charset "utf-8";

body {
    color: darkgray;
    background-color: hsla(0,0%,20%,1);
    font-family: Tahoma, Geneva, sans-serif;
}

header {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
}

h1 {
    color: hsl(0,0%,70%);
    font-size: 22pt;
}

h2 {
    color: hsla(0,50%,40%,1);
    font-size: 16pt;
}

nav > ul {
    list-style-type: square;
}

section {
    color: rgb(255,200,100);
    text-align: justify;
    font-size: 11pt;
}

footer {
    font-family: cursive;
    text-align: center;
}